<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assistente IFAC</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <!-- Logo no topo -->
        <div class="header-logo">
            <img src="https://www.ifac.edu.br/o-ifac/comunicacao/copy2_of_logomarcas/logo_ifac_1.png" alt="Logo IFAC">
        </div>
        
        <!-- Texto descritivo -->
        <div class="header">
            <h1>Bem-vindo ao Assistente IFAC</h1>
        </div>
        
        <!-- Formulário de Upload -->
        <form id="upload-form" enctype="multipart/form-data" class="upload-area">
            <h2>Envie suas Resoluções Administrador</h2>
            <input type="file" name="files" multiple required>
            <button type="submit">Upload Documento</button>
        </form>

        <!-- Área de Chat -->
        <div id="chat" class="chat-area">
            <h2>Fale com o Assistente</h2>
            <input type="text" id="query" placeholder="Digite sua pergunta">
            <button onclick="sendQuery()">Enviar</button>
        </div>

        <!-- Resposta -->
        <div id="response-area">
            <h2>Resposta do Assistente</h2>
            <p id="response"></p>
        </div>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>
