<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Queryon</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/tema.css">
  <link rel="shortcut icon" type="imagex/png" href="../static/img/logo site.png">
</head>
<body>

  <!-- Botão de alternar tema -->

  <div class="theme-toggle-switch" id="theme-toggle">
    <div class="toggle-thumb">
      <span class="icon">☀️</span>
    </div>
  </div>
  



  <div class="container">

    <!-- Logo e descrição -->
    <div class="header-logo">
      <img src="https://www.ifac.edu.br/o-ifac/comunicacao/copy2_of_logomarcas/logo_ifac_1.png" alt="Logo IFAC">
    </div>

    <div class="header">
      <h1>Queryon</h1>
      <p class="description">
        Queryon é um agente inteligente que responde perguntas baseadas em uma base de dados contextual.
      </p>
    </div>

    <!-- Área de mensagens com rolagem -->
    <div id="chat" class="chat-area">
      <div id="messages"></div>
    </div>

    <!-- Caixa de input fixa -->
    <div class="input-area">
      <div class="input-wrapper">
        <input type="text" id="query" placeholder="Digite sua pergunta">
        <button onclick="sendQuery()">Enviar</button>
      </div>
    </div>
  </div>

  <!-- Robô no canto -->
  <div id="robot-assistant">
    <img src="../static/img/queryon.png" alt="Robô do Queryon" class="robot-image">
    <div class="robot-tooltip">
      <p><strong>Olá!</strong><br>Bem-vindo ao <em>Queryon</em>, seu agente inteligente.<br>faça uma pergunta sobre as principais resoluções do ifac</p>
    </div>
  </div>

  <!-- Rodapé fixo -->
  <footer class="footer">
    Desenvolvido por Alisson e Jeder
  </footer>

  <script src="../static/js/script.js"></script>
</body>
</html>
